// Google Fonts
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700);

//colors
$primary-color: #e48c2d;
$primary-background-color:#3c3c3c;
$secondary-color: fade-in(rgba(#e1d7d2, 0.5), 0.4);
$success-color: green;
$error-color: red;
$link-color: blue;

//fonts
$font-size-m:14px;
$font-stack:Arial,Helvetica, sans-serif;
$open-sans: 'Open Sans', sans-serif;

//others
$padding-m:15px;
$margin-m:15px;