@import "_variables";

body{
   font-family: $open-sans;    
    font-size: $font-size-m;
}

header{
    padding: $padding-m;
    color:map-get($palette, secondary-color) ;
    background-color: map-get($palette, dark-gray);
}

footer{
    margin: $padding-m;
    color: map-get($palette, primary);
    background-color: map-get($palette, dark-gray);
}

a {
    color:map-get($palette, link-color);
    text-decoration: none;
}


/* reset */
li,ul{
    display: block;
    margin: 0;
    padding: 0;

}
/* reset */