@media screen and (max-width: 767px) {
  .movie-container {
    align-items: center;
    flex-direction: column;
  }
}
@media screen and (max-width: 399px) {
  .movie-poster {
    width: 100%;
  }
  .poster-large {
    width: 100%;
    height: auto;
  }
}
